body{
    padding: 0px;
    margin: 0 auto;
    line-height: 1;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
.container{
    border: 2px solid black;
    width: 90%;
    height: 120px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: #1F2937;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border-style: none!important;

}
.item1 {
    /*border: 1px dotted red;*/
    padding: 10px;
    vertical-align:baseline;
    font-size: 24px;
    color: #F9FAF8;
}
.item2{
    /*border: 1px dotted red;*/
    padding: 10px;
    text-decoration: none;
}
a{
    text-decoration: none;
    padding: 8px;
    font-size: 18px;
    color: #E5E7EB;
}
.container-2{
    width: 90%;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #1F2937;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border-style: none!important;
    gap: 30px;
    
}
.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1{
    font-size: 48px;
    font-weight:bold;
    color:#F9FAF8;
    flex: 1 0 auto;
    margin: 0;
}
.text{
    font-size: 18px;
    color: #E5E7EB;
    flex: 1 0 auto;
    margin: auto;
}
.bt-signup{
    background-color: #3882F6;
    width:fit-content;
    color: white;
    font-size: 12px;
    padding: 4px 20px;
    border-radius: 6px;
    background-origin: border-box;
    border-style: none!important;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
}
.bt-signup:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.placeholder{
    border: 2px solid red;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    height: 200px;
    border-radius: 10px;
    align-items:center;
    justify-content:center;
    padding: 10px;
}
.container-body{
    border: 3px solid purple;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 500px;
    padding: 5px;
    margin: 0 auto;
    justify-content:space-around;
    align-items:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border-style: none!important;
}
.body-h{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.list-item{
    border: 3px solid white;
    width: 100%;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.line{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.bluelines{
    border: 2px solid #3882F6;
    height: 120px;
    width: 120px;
    border-radius: 20px;
}
.textinbox{
    width: 120px;
    margin: 0;
    text-align: justify;
    font-size: 14px;
}